<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <% if @user.errors.any? %>
        <%= @user.errors.count %>件のエラーが発生しました
      <ul>
          <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
          <% end %>
      </ul>
      <% end %> 
      <h1>User info</h1>
      <%= form_with model: @user do |f| %>
      <%= f.label :name %><br>
      <%= f.text_field :name %><br>
      <%= f.label :image %><br>
      <%= f.file_field :profile_image, accept: "image/*" %><br>
      <%= f.label :Introduction %><br>
      <%= f.text_field :introduction %><br>
      <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
