<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <% if @book.errors.any? %>
        <%= @book.errors.count %>件のエラーが発生しました
      <ul>
          <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
          <% end %>
      </ul>
      <% end %>
      <h1>Editing Book</h1>
      <%= form_with model: @book do |f| %>
      <%= f.label :Title %><br>
      <%= f.text_field :title %><br>
      <%= f.label :Opinion %><br>
      <%= f.text_field :body %><br>
      <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>